* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6 rem;
  font-family: "Sora", serif;
}
/* https://github.com/GaLaiLapTrinh/figma-to-html-03/blob/main/assets/favicon/apple-icon.png */
